*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  cursor: none;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.5) 0%,
      rgba(9, 9, 121, 0.5) 15%,
      rgba(0, 212, 255, 0.5) 100%
    ),
    url(eduard-QmU_1X9ZHXo-unsplash.jpg);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
